@using DeliveryTracker.Controllers
@(Html.UpshotContext(bufferChanges: false).DataSource<DataServiceController>(x => x.GetDeliveriesForToday()))

<div data-bind="if: nav.params().view == 'deliveries'">
    @Html.Partial("_DeliveriesList")
</div>

<div data-bind="if: nav.params().view == 'customers'">
    @Html.Partial("_CustomersList")
</div>

<div data-bind="with: currentDelivery">
    @Html.Partial("_DeliveryDetails")
</div>

<script src="~/Scripts/App/DeliveriesViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(new MobileDeliveriesViewModel());
    });
</script>